<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adios</title>
</head>
<body>
    <h1>Adios</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, nulla eaque animi deserunt eos illum veniam
    nesciunt in officiis corporis hic odio tempore vel aut vitae beatae. Mollitia, sapiente dolore!</p>
    <button onclick="window.location.href='../'">Regresar a hola mundo</button>
</body>
</html>